/*#region COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-size: .8rem;
   font-family: "Montserrat", sans-serif;
}
img{
    width: 100%; 

    
}
.debug *{
    border: 1px dashed black;
}
body{
    background-color: #141922;
    overflow: hidden;
    

}
.d_flex{
    display: flex;
}
.justify_end{
    justify-content: flex-end;
}
.d_inline_block{
    display: inline-block;
}
.row{
    display: flex;
  /*   gap: 1rem; */
    flex-wrap: wrap;
    flex-shrink: 1;
    
   
}
.col6{
   
    width: calc((100% / 12) * 6); 
}
.col4{
   
    width: calc((100% / 12) * 4);
    
    
}
.col3{
   
    width: calc((100% / 12) * 3);
    
    
}
.col2{
   
    width: calc((100% / 12) * 2); 
}
.round{
    border-radius: 50%;
   
}

[class^='col']{
    padding: 0.5rem;
}


a{
    text-decoration: none;
        font-weight: bold;
    
}
.vertical_align{
    vertical-align: middle;
}
.text_center{
    text-align: center;
}
.selection_bar{
    border: 1px solid #adff2f;
    width: 40%;
    margin: auto;
}
div{
    font-weight: bold;
}
.py-05{
    padding: 0.5rem 0;
    
}
.small{
    font-size: small;
}

/*#endregion COMMON */

/*#region COLORS */
:root{
    --bg-sidebar:var(#080b12);
    --bg-content:var(#141922);
    --bg-player:var(#282828);
    --bg-icon_big:var(#a3a3a3);
    --bg-text:var(#6a6a6a);
    --bg-green:var(#adff2f);
    
}
.white{
    color: white;
}

.grey{
    color: #6a6a6a;
}
/*#endregion COLORS */






.wrapper{
    height: 100vh;
    overflow: hidden;
}

/*#region TOP */
 
 
#top{
    height: calc(100% - 80px);
    display: flex;
   
}

    /*#region SIDEBAR */
       
        #sidebar{
            background-color: #080b12;
            padding: 1rem;
            padding-bottom: 0;
            width: 230px;
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        
        .logo, .playlist{
            margin-bottom:1rem ;
        }
        .logo_img{
            width: 70%;
            
        }
        .list{
            line-height: 2rem;
            
 
        }   
        .list_style{
            list-style: none;
            >a{
                color: white;
                text-decoration: none;
                font-weight: bold;
               
            }
        }
       
        .icon_sidebar{
            width: 2rem;
            display: inline;
            vertical-align: middle;
        }
       .menù_icon{
            display: inline;
            vertical-align: middle
       }

       .playlist{
        margin-top: 1.5rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size:larger;
       }
       .add_button{
        background-color: #a3a3a3;
        display: inline-block;
        vertical-align: middle;
        font-size:3rem;
  
        padding: .5rem;
        color: black;
       }

       .bottom_sidebar{
        margin-bottom: .5rem;
       }

       .download_img{
        width: 1rem;
        vertical-align: top;
        margin-bottom: 1rem;
       }
       .profile_img{
        width: 1.5rem;
        margin-right: .50rem;
        background-color: #a3a3a3;
        border-radius: 50%;
        aspect-ratio: 1/1;

       }
       .profile_sidebar{
       padding-top: 1rem;
       }
       .hr_sidebar{
        border: 1px solid #6a6a6a;
       }
       .name_profile{
        font-size: larger;
       }


    /*#endregion SIDEBAR */
       
      
    /*#region CONTENT */
        .content{
           width: calc(100% - 230px);
          
          
        }
         
       
         

        /*#region HEADER */
        #app_header{
            
            background-color: rgba(0, 0, 0, 0.334);
            
        }

        .upgrade{
        
            padding: 2rem 0;
            
            a{
                border: 1px solid white;
                border-radius: 4rem;
                padding: 1rem;
                color: white;
                font-weight: bolder;
                
            }
            
        }

        /*#endregion HEADER */

        /*#region MAIN */
        #app_main{
            overflow:auto;
            height: calc(100% - 63px);
        }
        .main_container{
            padding:0rem 1rem;
        
        }
        .choose_type{
            justify-content: center;
            padding: 1rem;
            gap: 1rem;
          
        }
      

        .artist_rec_played{
            padding-top: 1rem ;
            text-align: center;
            
           
        }

        .category_name{
            padding: 1rem 0rem;
            line-height: 1.5rem;
            >h2{
                font-size: 1.5rem;

            }
        }
        /*#endregion MAIN */ 

        /*#region BOTTOM */
            #bottom{
                
                background-color:#282828;
                height: 80px;
            }
           
            #app_footer{
               
            
            padding: 0.25rem;
     
            
            }
            .player{
            justify-content: space-between;
            align-items:center
        
            }
            .left{
                
            }
            .now_playing{
                width: 3rem;
            }
            .name_playing{
                margin-left: 1rem;
                margin-right: 3rem;
                
            }
            .heart{
               margin-right: 0.5rem;
               
            }
            .folder, .heart{
                font-size: 1rem;
            }

            .centre{
                justify-content: center;
            }
            .player_buttons{
                justify-content: space-evenly;
                
            }
            .player_bar{
                margin-top: 1rem;

            }
            .player_volume{
                justify-content: flex-end;
                >a{
                    margin-right: 1rem;
                }
            }
        /*#endregion BOTTOM */
   
        /*#endregion CONTENT */




/*#endregion TOP */




/*#region QUERY LARGE */
@media screen and (max-width: 768px){
    .col3_lg{
        width: calc((100% / 12) *3);
        
    }
}

/*#endregion QUERY LARGE */

/*#region QUERY MEDIUM */

@media screen and (max-width: 600px){
    .col2_md{
        width: 50%
        
    }
}


/*#endregion QUERY MEDIUM */

/*#region QUERY XSMALL */
@media screen and (max-width:425px) {
  #sidebar{width: 50px;
    }

    .content{
        width: calc(100% - 50px);
    }

        .choose_type{
            padding: 0.5rem; 
            margin:0rem -1rem;
        }
        
        
    

}
/*#endregion QUERY XSMALL*/
