/*#region COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    width: 100%;
}
.debug *{
    border: 1px dashed black;
}
body{
 /*    height: 100vh; */
    overflow: hidden;

}
.d_flex{
    display: flex;
}
.justify_end{
    justify-content: flex-end;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.col2{
   
    width: calc((100% / 12) * 6);
    aspect-ratio: 1 / 1;
}
/*#endregion COMMON */

/*#region TOP */
 #top{
    height: calc(100% - 80px);
 }

    /*#region SIDEBAR */
        #sidebar{
            width: 245px;
            background-color: rgb(0, 174, 255);
            
        }


    /*#endregion SIDEBAR */


    /*#region CONTENT */
        .content{
            width: calc(100% - 245px);
          
        }

        /*#region HEADER */
        #app_header{
            
            background-color: rgba(0, 255, 255, 0.489);
        }
        /*#endregion HEADER */

        /*#region MAIN */
        #app_main{
            overflow-y: scroll;
        }

        .choose_type{
            justify-content: space-evenly;
            padding: 1rem 18rem;
        }

        
        .artist_rec_played{
            padding-top: 1rem ;
            text-align: center;
        }
        /*#endregion MAIN */

    /*#endregion CONTENT */



/*#endregion TOP */

/*#region BOTTOM */
#bottom{
    height: 80px;
}
/*#region FOOTER */
/*#endregion FOOTER */

/*#endregion BOTTOM */


